<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bedms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bedlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bedlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".testOfDate"></activity>
        <activity android:name=".OccupancyPerMonth" />

        <activity android:name=".BedStatusForDate" />
        <activity android:name=".scannning" />
        <activity android:name=".testingSplash" />
        <activity
            android:name=".readQrCode"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".AnyOrientationCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".qrMainScreen" />
        <activity android:name=".Admin.qrcodetesting" />
        <activity android:name=".bedDetailsPorter" />
        <activity android:name=".CleaningStaff.bedDetailsCleaner" />

        <activity android:name=".CleaningStaff.QrCoding" />
        <activity android:name=".BedStatusChartsForDate" />
        <activity android:name=".CalculateWaitTime" />
        <activity android:name=".StatsShown" />
        <activity android:name=".drawer" />
        <activity android:name=".Admin.AdminHub" />
        <activity android:name=".HospitalManager.StatsAsOfToday" />
        <activity android:name=".HospitalManager.BedStatusForDate" />
        <activity android:name=".HospitalManager.BedStatusChartsForDate" />
        <activity android:name=".HospitalManager.CalculateWaitTime" />
        <activity android:name=".HospitalManager.HospitalManagerHub" />
        <activity android:name=".Doctor.dischargepatient" />
        <activity android:name=".Doctor.inventoryofpatientsinbeds" />
        <activity android:name=".Patient.inventoryofpatientsadmin" />
        <activity android:name=".Patient.patientlistadmindetails" />
        <activity android:name=".Patient.patientlistporterdetails" />
        <activity android:name=".Patient.patientlistinbeddetails" />
        <activity android:name=".Patient.patientdetails" />
        <activity android:name=".Porter.porterhub" />
        <activity android:name=".CleaningStaff.cleaningstaffhub" />
        <activity android:name=".Nurse.nursehub" />
        <activity android:name=".Patient.inventoryofpatients" />
        <activity android:name=".CleaningStaff.bedDetailsclean" />
        <activity android:name=".bedDetails" />
        <activity android:name=".Employees.Inventoryofemployees" />
        <activity android:name=".Doctor.doctorhub" />
        <activity android:name=".Employees.hospitalmanager" />
        <activity android:name=".Doctor.SearchPatient" />
        <activity android:name=".Doctor.AdmitPatient" />
        <activity android:name=".Bed.Inventoryofbedsallocate" />
        <activity android:name=".Bed.Inventoryofbeds" />
        <activity android:name=".Bed.AllocateBedToWard" />
        <activity android:name=".Bed.managebeds" />
        <activity android:name=".Bed.centraladminhub" />
        <activity android:name=".Auth.login" />
        <activity android:name=".Employees.manageemployees" />
        <activity android:name=".Auth.Register" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.welcome"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>