<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bedms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bedlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bedlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".HospitalManager.OccupancyPerMonth" />

        <activity
            android:name=".readQrCode"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".AnyOrientationCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".qrMainScreen" />
        <activity android:name=".Admin.qrcodetesting" />
        <activity android:name=".BedDetailsPorter" />

        <activity android:name=".StatsShown" />
        <activity android:name=".Admin.AdminHub" />
        <activity android:name=".HospitalManager.StatsAsOfToday" />
        <activity android:name=".HospitalManager.BedStatusForDate" />
        <activity android:name=".HospitalManager.BedStatusChartsForDate" />
        <activity android:name=".HospitalManager.CalculateWaitTime" />
        <activity android:name=".HospitalManager.HospitalManagerHub" />
        <activity android:name=".Admin.AdminBedDetails" />
        <activity android:name=".Doctor.DischargePatient" />
        <activity android:name=".Doctor.InventoryOfPatientsInBeds" />
        <activity android:name=".Patient.InventoryOfPatientsAdmin" />
        <activity android:name=".Patient.PatientListAdminDetails" />
        <activity android:name=".Porter.PatientListPorterDetails" />
        <activity android:name=".Patient.PatientListinBedsDetails" />
        <activity android:name=".Patient.PatientDetailsDoctorScreen" />
        <activity android:name=".Porter.PorterHub" />
        <activity android:name=".CleaningStaff.Cleaningstaffhub" />
        <activity android:name=".Nurse.nursehub" />
        <activity android:name=".Patient.InventoryOfPatients" />
        <activity android:name=".CleaningStaff.BedDetailsclean" />
        <activity android:name=".HospitalManager.CalculateScreenBedDetails" />
        <activity android:name=".bedDetails" />
        <activity android:name=".Employees.InventoryOfEmployees" />
        <activity android:name=".Doctor.DoctorHub" />
        <activity android:name=".Employees.HospitalManager" />
        <activity android:name=".Doctor.AdmitPatient" />
        <activity android:name=".Bed.InventoryOfBedsAllocate" />
        <activity android:name=".Bed.InventoryOfBeds" />
        <activity android:name=".Bed.AllocateBedToWard" />
        <activity android:name=".Bed.ManageBeds" />
        <activity android:name=".Auth.Login" />
        <activity android:name=".Employees.ManageEmployees" />
        <activity android:name=".Auth.Register" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.Welcome"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>